<form action="/training/custom-<%= templatePlanName %>?_method=PATCH" method="POST" class="flow" style="padding-bottom: 5em;">

    <input type="hidden" id="exercise-category-length" value="<%= exerciseCategories.length %>">
    <!--Parameter für loop im javascript-->

    <% for (let i=0; i < exerciseCategories.length; i++) { %>
        <% const category=exerciseCategories[i]; %>
            <input class="category-pause-time-input" type="hidden" value="<%= categoryPauseTimes[category] %>">
            <input class="category-default-sets-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultSets %>">
            <input class="category-default-reps-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultReps %>">
            <input class="category-default-rpe-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultRPE %>">
            <% } %>


            


                <% for (let i=0; i < amountOfTrainingDays; i++) { %>
                    <div class="table-section" style="display: <%= i === 0 ? 'block' : 'none' %>">
                        <h1 class="numbered-title" style="margin: 0; padding-top: 0.5em; padding-left: 0.65em;"><span aria-hidden="true">W<%= week %>D<%= i + 1 %></span><%= workoutName %></h1>
                        <div class="rest-pause-container" style="display: none;">
                            <div class="rest-pause-timer">
                                00:00
                            </div>
                            <div>
                                <progress class="rest-pause-progress-bar" max="100"
                                    value="100"></progress>
                            </div>
                        </div>
                        <table class="workout-table">

                            <thead>
                                <tr class="table-header-row">
                                    <th>Category</th>
                                    <th>Exercise</th>
                                    <th>Sets</th>
                                    <th>Reps</th>
                                    <th>Weight</th>
                                    <th>RPE</th>
                                    <th>@RPE</th>
                                    <th>Est. Max</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--nur für Abstand kriege das anders nicht hin-->

                                <!--9 ist die max Amount an exercises-->
                                <% for (let k=0; k < 9; k++) { %>
                                    <% const selectedCategory=trainingWeekData[i].exercises[k]?.category ||
                                        firstTrainingWeekData[i].exercises[k]?.category || "" ; %>
                                        <% const selectedExercise=trainingWeekData[i].exercises[k]?.exercise ||
                                            firstTrainingWeekData[i].exercises[k]?.exercise || "" ; %>
                                            <% const selectedSets=trainingWeekData[i].exercises[k]?.sets ||
                                                firstTrainingWeekData[i].exercises[k]?.sets || "" ; %>
                                                <% const selectedReps=trainingWeekData[i].exercises[k]?.reps ||
                                                    firstTrainingWeekData[i].exercises[k]?.reps || "" ; %>
                                                    <% const selectedWeight=trainingWeekData[i].exercises[k]?.weight
                                                        || "" ; %>
                                                        <% const
                                                            selectedTargetRPE=trainingWeekData[i].exercises[k]?.targetRPE
                                                            || firstTrainingWeekData[i].exercises[k]?.targetRPE || "" ;
                                                            %>
                                                            <% const
                                                                selectedActualRPE=trainingWeekData[i].exercises[k]?.actualRPE
                                                                || "" ; %>
                                                                <% const
                                                                    selectedEstMax=trainingWeekData[i].exercises[k]?.estMax
                                                                    || "" ; %>
                                                                    <% const
                                                                        selectedNotes=trainingWeekData[i].exercises[k]?.notes
                                                                        || "" ; %>

                                                                        <tr class="table-row mainExercise">
                                                                            <td data-cell="category">
                                                                                <select
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_category"
                                                                                    class="exercise-category-selector">
                                                                                    <% for (const category of
                                                                                        exerciseCategories) { %>
                                                                                        <option value="<%= category %>"
                                                                                            <%=selectedCategory===category
                                                                                            ? 'selected' : '' %>>
                                                                                            <%= category %>
                                                                                        </option>
                                                                                        <% } %>
                                                                                </select>
                                                                            </td>
                                                                            <td data-cell="exercise">
                                                                                <% for (const category in
                                                                                    categorizedExercises) { %>

                                                                                    <select
                                                                                        name="day<%= i + 1 %>_exercise<%= k + 1 %>_exercise_name"
                                                                                        class="exercise-name-selector"
                                                                                        <%=selectedCategory===category
                                                                                        ? '' : 'disabled' %>
                                                                                        style="<%=
                                                                                            selectedCategory===category
                                                                                            ? '' : 'display: none;' %>">
                                                                                            <% for (const exerciseName
                                                                                                of
                                                                                                categorizedExercises[category])
                                                                                                { %>
                                                                                                <option
                                                                                                    value="<%= exerciseName %>"
                                                                                                    <%=selectedExercise===exerciseName
                                                                                                    ? 'selected' : '' %>
                                                                                                    >
                                                                                                    <%= exerciseName %>
                                                                                                </option>
                                                                                                <% } %>
                                                                                    </select>
                                                                                    <% } %>
                                                                            </td>

                                                                            <td data-cell="sets">
                                                                                <input type="number" class="sets"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_sets"
                                                                                    value="<%= selectedSets %>">
                                                                            </td>
                                                                            <td data-cell="reps">
                                                                                <input type="number" class="reps"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_reps"
                                                                                    value="<%= selectedReps %>">
                                                                            </td>
                                                                            <td data-cell="weight">
                                                                                <input type="text" class="weight"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_weight"
                                                                                    value="<%= selectedWeight %>">
                                                                            </td>
                                                                            <td data-cell="RPE">
                                                                                <input type="number" class="targetRPE"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_targetRPE"
                                                                                    value="<%= selectedTargetRPE %>"
                                                                                    step="0.5">
                                                                            </td>
                                                                            <td data-cell="@RPE">
                                                                                <input type="number" class="actualRPE"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_actualRPE"
                                                                                    value="<%= selectedActualRPE %>"
                                                                                    step="0.5">
                                                                            </td>
                                                                            <td data-cell="Est. Max">
                                                                                <input type="number" class="estMax"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_estMax"
                                                                                    value="<%= selectedEstMax %>">
                                                                            </td>
                                                                            <td data-cell="notes">
                                                                                <input type="text" class="workout-notes"
                                                                                    name="day<%=i + 1%>_exercise<%=k + 1%>_workout_notes"
                                                                                    value="<%= selectedNotes %>">
                                                                            </td>

                                                                        </tr>
                                                                        <% } %>

                            </tbody>
                        </table>

                    </div>
                    <% } %>

                    <div class="dot-indicators flex" style="justify-content: center; margin-top: 1.5rem;">
                            <% for (let j=0; j < amountOfTrainingDays; j++) { %>
                                <button aria-selected="<%= j + 1 === lastTrainingDay %>"><span class="sr-only">Slide
                                        Title</span></button>
                                <% } %>
                        </div>

                        <div>
                            <button class="main-page-button save-training-button uppercase ff-sans-normal"
                                type="submit" type="submit">Save</button>
                        </div>



                        <div id="confirmationModal" class="modal ff-sans-cond text-accent fs-500 letter-spacing-4" style="display: none">
                            <div class="modal-content flow" style="--flow-space: 0.5em;">
                                <input type="text" readonly value="Training löschen">
                                <div class="modal-buttons">
                                    <button class="modal-button text-accent" id="confirmResetButton">LÖSCHEN</button>
                                    <button class="modal-button text-accent" id="cancelResetButton">ABBRECHEN</button>
                                </div>
                            </div>
                        </div>

                        <%- include("../../partials/trainingPage/volumeRecommandations") %>
                            <%- include("../../partials/trainingPage/trainingNavigationBar", {beforePage: beforePage ,
                                nextPage: afterPage , week: week}) %>


                        <script>
                            </script>

</form>