<link rel="stylesheet" href="/stylesheets/createTraining.css">
<link rel="stylesheet" href="/stylesheets/shared/confirmation-modal.css">

<form id="workout-form" method="POST" action="?_method=PATCH" name="editTraining"> <!--name ist wichtig für modal-->

    <div class="table-section">

        <table class="workout-table create-training-table">
            <thead>
                <caption>
                    <input class="uppercase fs-500 letter-spacing-3 text-accent" type="text" value="<%= trainingTitle || " Workout 1" %>"
                    name="training_name">
                </caption>
                <tr class="table-header-row">
                    <th>Exericse</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>RPE</th>
                    <th>1RM</th>
                </tr>
            </thead>
            <tbody>
                <!--TODO: den inputs die jeweiligen klassen geben die name attribute setzen: im post verarbeiten und javascript fehler behebend-->

                <% for (let i=1; i <=9; i++) { %>
                    <% const exerciseData=trainingData[i - 1]; %>
                        <tr class="table-row">
                            <td data-cell="Exercise"><input type="text" class="exercise-name" name="exercise_name_<%= i %>"
                                    value="<%= exerciseData.exercise || "" %>"></td>
                            <td data-cell="Sets"><input type="number" class="sets" name="exercise_sets_<%= i %>"
                                    value="<%= exerciseData.sets %>"></td>
                            <td data-cell="Reps"><input type="number" class="reps" name="exercise_reps_<%= i %>"
                                    value="<%= exerciseData.reps %>"></td>
                            <td data-cell="Weight"><input type="text" class="weight" name="exercise_weight_<%= i %>"
                                    value="<%= exerciseData.weight %>"></td>
                            <td data-cell="RPE"><input type="number" class="actualRPE" step="0.5" name="exercise_actualRPE_<%= i %>"
                                    value="<%= exerciseData.rpe %>"></td>
                            <td data-cell="1RM"><input type="number" class="estMax" step="0.5" name="exercise_max_<%= i %>"
                                    value="<%= exerciseData.estMax %>"></td>
                        </tr>
                        <% } %>

            </tbody>
        </table>
    </div>

    <div class="flow" style="--flow-space: 0.5rem">
        <button class="main-page-button save-training-button uppercase ff-sans-normal" type="submit" style="margin: 0;">Save</button>
        <button class="main-page-button save-training-button uppercase ff-sans-normal" style="margin: 0;" id="show-training-history">History</button>
    </div>

    <div class="training-history-container">

        <div class="training-history" style="display: none">
            <% if (training.trainings.length < 2) { %>
                <div class="ff-sans-cond text-accent letter-spacing-3 fs-400" style="text-align: center; margin-top: 1.5em;">
                    Es sieht so aus als hättest du keine weiteren gespeicherten Trainings dieser Art.
                </div>
                <% } else { %>
                    <% for (let i=1; i < training.trainings.length; i++) { %>
                        <% const previousWeekData = previousTrainingData[i - 1]; %>
                        <div class="table-section">
                            <!--Workout Description-->
                            <div class="training-day-information-container">

                                <input disabled class="notes-regarding-workout" type="text"
                                    placeholder="Bemerkungen zum Workout" value="<%= previousTrainingDates[i - 1] %>">
                            </div>
                    
                            <table class="workout-table create-training-table">
                                <thead>
                                    <tr class="table-header-row">
                                        <th>Exericse</th>
                                        <th>Sets</th>
                                        <th>Reps</th>
                                        <th>Weight</th>
                                        <th>RPE</th>
                                        <th>1RM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <!--Soll nur eine anzeige werden deswegen disabled und fehlende Name attribute-->
                                    <% for (let j=1; j <=9; j++) { %>
                                        <% const previousExerciseData = previousWeekData[j - 1]; %>
                                            <tr class="table-row">
                                                <td data-cell="Exercise"><input disabled type="text" class="exercise-name"
                                                        value="<%= previousExerciseData.exercise || "" %>"></td>
                                                <td data-cell="Sets"><input disabled type="number" class="sets"
                                                    value="<%= previousExerciseData.sets || "" %>"></td>
                                                <td data-cell="Reps"><input disabled type="number" class="reps"
                                                    value="<%= previousExerciseData.reps || "" %>"></td>
                                                <td data-cell="Weight"><input disabled type="text" class="weight"
                                                    value="<%= previousExerciseData.weight || "" %>"></td>
                                                <td data-cell="RPE"><input disabled type="number" class="actualRPE" step="0.5"
                                                    value="<%= previousExerciseData.rpe || "" %>"></td>
                                                <td data-cell="1RM"><input disabled type="number" class="estMax" step="0.5"
                                                    value="<%= previousExerciseData.estMax || "" %>"></td>
                                            </tr>
                                            <% } %>
                    
                                </tbody>
                            </table>
                        </div>
    
                        <% } %>
    
                            <% } %>
        </div>


    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p>Bist du sicher das du das Training beenden möchtest?</p>
            <p>Deine Daten werden gespeichert</p>
            <div class="modal-buttons">
                <button type="button" class="modal-button" id="confirmResetButton">SPEICHERN</button>
                <button type="button" class="modal-button" id="cancelResetButton">ABBRECHEN</button>
            </div>
        </div>
    </div>

</form>

<script src="/javascripts/scratch/confirmation_modal.js"></script>
<script src="/javascripts/scratch/calcBackoffMax.js"></script>
<script src="/javascripts/scratch/pauseTimer.js"></script>
<script src="/javascripts/trainingPage/weightInput.js"></script>
<script src="/javascripts/trainingPage/rpeInput.js"></script>

<script>
    const trainingHistoryContainer = document.getElementsByClassName("training-history")[0];
    const showHistoryBTN = document.getElementById("show-training-history");

    const arrowSVGs = document.getElementsByClassName("arrow-svg"); // 0 down und 1 up


    showHistoryBTN.addEventListener("click", e => {
        e.preventDefault();

        if (trainingHistoryContainer.style.display === "block") {
            trainingHistoryContainer.style.display = "none";
            arrowSVGs[0].style.display = "none";
            arrowSVGs[1].style.display = "block";
        } else {
            trainingHistoryContainer.style.display = "block";
            arrowSVGs[0].style.display = "block";
            arrowSVGs[1].style.display = "none";
        }
    })

</script>