<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/shared/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <title>Session Bearbeiten</title>
</head>

<body class="home">

    <form action="/training/session-edit-<%= sessionIndex + 1 %>?_method=PATCH" method="POST">

        <input id="userID" type="hidden" name="userIdentification" value="<%= userID %>">

        <h3 class="text-white ff-serif fs-7 00 letter-spacing-1 uppercase">Bearbeiten</h3>

        <div class="save-status-sucess hidden ff-sans-serif fs-500 letter-spacing-4 text-accent"
            style="margin-top: 1em; text-align: center;">
            Daten erfolgreich gespeichert
        </div>
        <div class="save-status-failure hidden ff-sans-serif fs-500 letter-spacing-4 text-accent"
            style="margin-top: 1em; padding-left: 1em;">
            Fehler beim speichern der Daten
        </div>

        <label for="training_title" class="ff-sans-normal letter-spacing-4 text-accent fs-400">Titel</label>
        <input type="text" id="training-title" class="create-training-plan-input" name="training_title"
            value="<%= trainingTitle %>" required>

        <label for="training-mode-selector"
            class="ff-sans-normal letter-spacing-4 text-accent fs-400">Trainingsstyle</label>
        <select name="training_phase" class="generic-selector" required>
            <option value="" disabled selected hidden></option>
            <option <%=trainingPhase==="hypertrophie" ? "selected" : "" %> value="hypertrophie">Hypertrophie</option>
            <option <%=trainingPhase==="kraft" ? "selected" : "" %> value="kraft">Kraft</option>
            <option <%=trainingPhase==="peaking" ? "selected" : "" %> value="peaking">Peaking</option>
        </select>
        <button type="submit" class="form-button-2 uppercase">SAVE</button>
        <button class="form-button uppercase fs-500" id="cancel-button" style="border: none;">Back</button>


    </form>
</body>

<%- include("../../partials/onlineStatus") %>
    <script src="/javascripts/displayOfflineData.js"></script>
    <script src="/javascripts/trainingPage/changeTitleAjax.js"></script>

    <!-- <script>
    const cancelButton = document.getElementById("cancel-button");

    cancelButton.addEventListener("click", e => {
        e.preventDefault();
        window.location.href = "/training";
    })
</script>
 -->

</html>