<link rel="stylesheet" href="/stylesheets/shared/confirmation-modal.css">

<form id="workout-form" method="POST" action="/training/session-trainin-<%= number %>?_method=PATCH" name="editTraining" class="flow" style="padding-bottom: 5em;"> <!--name ist wichtig für modal-->

    <input type="hidden" id="exercise-category-length" value="<%= exerciseCategories.length %>">
    <!--Parameter für loop im javascript-->

    <% for (let i=0; i < exerciseCategories.length; i++) { %>
        <% const category=exerciseCategories[i]; %>
            <input class="category-pause-time-input" type="hidden" value="<%= categoryPauseTimes[category] %>">
            <input class="category-default-sets-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultSets %>">
            <input class="category-default-reps-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultReps %>">
            <input class="category-default-rpe-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultRPE %>">
            <% } %>


                <div class="table-section">
                    <h1 class="numbered-title" style="margin: 0; padding-top: 0.5em; padding-left: 0.65em;"><span
                            aria-hidden="true">SESSION</span>
                        <%= trainingTitle %>
                    </h1>
                    <div class="rest-pause-container" style="display: none;">
                        <div class="rest-pause-timer">
                            00:00
                        </div>
                        <div>
                            <progress class="rest-pause-progress-bar" max="100" value="100"></progress>
                        </div>
                    </div>
                    <div class="save-status-sucess hidden ff-sans-serif fs-500 letter-spacing-4 text-accent" style="margin-top: 1em; padding-left: 1em;">
                        Daten erfolgreich gespeichert
                    </div>
                    <div class="save-status-failure hidden ff-sans-serif fs-500 letter-spacing-4 text-accent" style="margin-top: 1em; padding-left: 1em;">
                        Fehler beim speichern der Daten
                    </div>


                    <table class="workout-table create-training-table">
                        <thead>
                            <tr class="table-header-row">
                                <th>Category</th>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Reps</th>
                                <th>Weight</th>
                                <th>RPE</th>
                                <th>@</th>
                                <th>1RM</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--nur für Abstand kriege das anders nicht hin-->
                            <!--TODO: den inputs die jeweiligen klassen geben die name attribute setzen: im post verarbeiten und javascript fehler behebend-->

                            <% for (let i=1; i <=9; i++) { %>
                                <% const exerciseData=trainingData[i - 1]; %>
                                    <tr class="table-row mainExercise">
                                        <td data-cell="category">
                                            <select name="exercise_category_<%= i %>"
                                                class="exercise-category-selector">
                                                <% for (const category of exerciseCategories) { %>
                                                    <option value="<%= category %>" <%=exerciseData.category===category
                                                        ? 'selected' : '' %>>
                                                        <%= category %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </td>
                                        <td data-cell="Exercise">
                                            <% console.log(exerciseData.exercise) %>
                                                <% for (const category in categorizedExercises) { %>

                                                    <select name="exercise_name_<%= i %>" class="exercise-name-selector"
                                                        <%=exerciseData.category===category ? '' : 'disabled' %>
                                                        style="<%= exerciseData.category===category ? ''
                                                            : 'display: none;' %>">
                                                            <% for (const exerciseName of
                                                                categorizedExercises[category]) { %>
                                                                <option value="<%= exerciseName %>"
                                                                    <%=exerciseData.exercise===exerciseName ? 'selected'
                                                                    : '' %>
                                                                    >
                                                                    <%= exerciseName %>
                                                                </option>
                                                                <% } %>
                                                    </select>
                                                    <% } %>
                                        </td>
                                        <td data-cell="Sets"><input type="number" class="sets"
                                                name="exercise_sets_<%= i %>" value="<%= exerciseData.sets %>"></td>
                                        <td data-cell="Reps"><input type="number" class="reps"
                                                name="exercise_reps_<%= i %>" value="<%= exerciseData.reps %>"></td>
                                        <td data-cell="Weight"><input type="text" class="weight"
                                                name="exercise_weight_<%= i %>">
                                        </td>
                                        <td data-cell="RPE"><input type="number" class="targetRPE"
                                                name="exercise_targetRPE_<%= i %>"
                                                value="<%= exerciseData.targetRPE %>"></td>
                                        <td data-cell="RPE"><input type="number" class="actualRPE" step="0.5"
                                                name="exercise_actualRPE_<%= i %>"></td>
                                        <td data-cell="1RM"><input type="number" class="estMax" step="0.5"
                                                name="exercise_max_<%= i %>" value="<%= exerciseData.estMax %>"></td>
                                    </tr>
                                    <% } %>

                        </tbody>
                    </table>
                </div>

                <div class="flow" style="--flow-space: 0.5rem">
                    <button class="main-page-button save-training-button uppercase ff-sans-normal" type="submit"
                        style="margin: 0;">Save</button>
                    <button class="main-page-button save-training-button uppercase ff-sans-normal" style="margin: 0;"
                        id="show-training-history">History</button>
                </div>

                <audio id="timerAudio">
                            <source src="/audio/newTimer.mp3" type="audio/mpeg">
                        Sorry - Ihr Browser hat keine Unterstützung für dieses Audio-Format.
                        </audio>

                        <audio id="save-audio">
                            <source src="/audio/save_sound.mp3" type="audio/mpeg">     
                            Sorry - Ihr Browser hat keine Unterstützung für dieses Audio-Format.
                        </audio>


                <div class="training-history-container">

                    <div class="training-history flow" style="display: none">
                        <!--Wir sind auf der Train-again Page hier sollen alle Trainings nochmal angezeigt werden-->
                        <% if (training.trainings.length > 1) { %>
                            <% for (let i=0; i < training.trainings.length; i++) { %>
                            <% const previousWeekData=previousTrainingData[i]; %>
                                <div class="table-section">
                                    <table class="workout-table create-training-table">
                                        <caption>
                                            <%= previousTrainingDates[i] %>
                                        </caption>
                                        <thead>
                                            <tr class="table-header-row">
                                                <th>Category</th>
                                                <th>Exercise</th>
                                                <th>Sets</th>
                                                <th>Reps</th>
                                                <th>Weight</th>
                                                <th>RPE</th>
                                                <th>@</th>
                                                <th>1RM</th>
                                                <th>Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--Soll nur eine anzeige werden deswegen disabled und fehlende Name attribute-->
                                            <% for (let j=1; j <=9; j++) { %>
                                                <% const previousExerciseData=previousWeekData[j - 1]; %>
                                                    <tr class="table-row">
                                                        <td data-cell="category">
                                                            <select disabled class="exercise-category-selector">
                                                                <% for (const category of exerciseCategories) { %>
                                                                    <option value="<%= category %>"
                                                                        <%=previousExerciseData.category===category
                                                                        ? 'selected' : '' %>>
                                                                        <%= category %>
                                                                    </option>
                                                                    <% } %>
                                                            </select>
                                                        </td>
                                                        <td data-cell="Exercise"><input disabled type="text"
                                                                class="exercise-name"
                                                                value="<%= previousExerciseData.exercise || "" %>"></td>
                                                        <td data-cell="Sets"><input disabled type="number" class="sets"
                                                                value="<%= previousExerciseData.sets || "" %>"></td>
                                                        <td data-cell="Reps"><input disabled type="number" class="reps"
                                                                value="<%= previousExerciseData.reps || "" %>"></td>
                                                        <td data-cell="Weight"><input disabled type="text"
                                                                class="weight"
                                                                value="<%= previousExerciseData.weight || "" %>"></td>
                                                        <td data-cell="RPE"><input disabled type="number"
                                                                class="actualRPE" step="0.5"
                                                                value="<%= previousExerciseData.targetRPE || "" %>">
                                                        </td>
                                                        <td data-cell="@RPE"><input disabled type="number"
                                                                class="actualRPE" step="0.5"
                                                                value="<%= previousExerciseData.actualRPE || "" %>">
                                                        </td>
                                                        <td data-cell="1RM"><input disabled type="number" class="estMax"
                                                                step="0.5"
                                                                value="<%= previousExerciseData.estMax || "" %>"></td>
                                                        <td data-cell="Notes"><input disabled type="text"
                                                                value="<%= previousExerciseData.notes || "" %>"></td>
                                                    </tr>
                                                    <% } %>

                                        </tbody>
                                    </table>
                                </div>

                                <% } %>
                        <% } else { %>
                            <div class="ff-sans-cond text-accent letter-spacing-3 fs-400"
                                style="text-align: center; margin-top: 1.5em;">
                                Es sieht so aus als hättest du keine weiteren gespeicherten Trainings dieser Art.
                            </div>
                            <% } %>
                        

                    </div>


                </div>

                <div id="confirmationModal" class="modal">
                    <div class="modal-content">
                        <p>Bist du sicher das du das Training beenden möchtest?</p>
                        <p>Deine Daten werden gespeichert</p>
                        <div class="modal-buttons">
                            <button type="button" class="modal-button" id="confirmResetButton">SPEICHERN</button>
                            <button type="button" class="modal-button" id="cancelResetButton">ABBRECHEN</button>
                        </div>
                    </div>
                </div>

</form>

<%- include("../../partials/trainingPage/volumeRecommandations") %>
<%- include("../../partials/trainingPage/javascripts") %> 

<script>
    const trainingHistoryContainer = document.getElementsByClassName("training-history")[0];
    const showHistoryBTN = document.getElementById("show-training-history");

    showHistoryBTN.addEventListener("click", e => {
        e.preventDefault();

        if (trainingHistoryContainer.style.display === "block") {
            trainingHistoryContainer.style.display = "none";
        } else {
            trainingHistoryContainer.style.display = "block";
        }
    })

</script>