<link rel="stylesheet" href="/stylesheets/shared/confirmation-modal.css">

<form id="workout-form" method="POST" action="/training/session-training-<%= number %>?_method=PATCH"
    name="editTraining" class="flow"> <!--name ist wichtig für modal-->

    <input type="hidden" id="exercise-category-length" value="<%= exerciseCategories.length %>">
    <!--Parameter für loop im javascript-->

    <% for (let i=0; i < exerciseCategories.length; i++) { %>
        <% const category=exerciseCategories[i]; %>
            <input class="category-pause-time-input" type="hidden" value="<%= categoryPauseTimes[category] %>">
            <input class="category-default-sets-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultSets %>">
            <input class="category-default-reps-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultReps %>">
            <input class="category-default-rpe-input" type="hidden"
                value="<%= defaultRepSchemeByCategory[category].defaultRPE %>">
            <% } %>

                <input id="userID" type="hidden" name="userIdentification" value="<%= userID %>">
                <input id="userMaxSquat" type="hidden" name="maxSquat" value="<%= user.maxSquat %>">
                <input id="userMaxBench" type="hidden" name="maxBench" value="<%= user.maxBench %>">
                <input id="userMaxDeadlift" type="hidden" name="maxDeadlift" value="<%= user.maxDeadlift %>">

                <input id="maxFactors" type="hidden" value="<%= JSON.stringify(maxFactors) %> %>">
                <input type="hidden" id="previousTrainingData" value="<%= previousTrainingData %>">

                <div class="table-section">
                    <h1 class="numbered-title" style="margin: 0; padding-top: 0.5em; padding-left: 0.65em;"><span
                            aria-hidden="true">SESSION</span>
                        <%= trainingTitle %>
                    </h1>
                    <div class="rest-pause-container" style="display: none;">
                        <div class="rest-pause-timer">
                            00:00
                        </div>
                        <div>
                            <progress class="rest-pause-progress-bar" max="100" value="100"></progress>
                        </div>
                    </div>
                    <div class="save-status-sucess hidden ff-sans-serif fs-500 letter-spacing-4 text-accent"
                        style="margin-top: 1em; padding-left: 1em;">
                        Daten erfolgreich gespeichert
                    </div>
                    <div class="save-status-failure hidden ff-sans-serif fs-500 letter-spacing-4 text-accent"
                        style="margin-top: 1em; padding-left: 1em;">
                        Fehler beim speichern der Daten
                    </div>


                    <table class="workout-table create-training-table">
                        <thead>
                            <tr class="table-header-row">
                                <th>Category</th>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Reps</th>
                                <th>Weight</th>
                                <th>RPE</th>
                                <th>@</th>
                                <th>1RM</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--nur für Abstand kriege das anders nicht hin-->
                            <!--TODO: den inputs die jeweiligen klassen geben die name attribute setzen: im post verarbeiten und javascript fehler behebend-->

                            <% const amountOfExercises=trainingData.length || 1 %>

                                    <% for (let i=0; i < amountOfExercises; i++) { %>
                                        <% const exerciseData=trainingData[i]; %>
                                            <% const previousExerciseData=previousTrainingData[i]; %>
                                                <tr class="table-row mainExercise">
                                                    <td data-cell="category">
                                                        <select name="exercise_<%= i + 1 %>_category"
                                                            class="exercise-category-selector">
                                                            <% for (const category of exerciseCategories) { %>
                                                                <option value="<%= category %>"
                                                                    <%=exerciseData?.category===category ? 'selected'
                                                                    : '' %>>
                                                                    <%= category %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </td>
                                                    <td data-cell="Exercise">
                                                        <% for (const category in categorizedExercises) { %>

                                                            <select name="exercise_<%= i + 1 %>_exercise"
                                                                class="exercise-name-selector"
                                                                <%=exerciseData?.category===category ? '' : 'disabled'
                                                                %>
                                                                style="<%= exerciseData?.category===category ? ''
                                                                    : 'display: none;' %>">
                                                                    <% for (const exerciseName of
                                                                        categorizedExercises[category]) { %>
                                                                        <option value="<%= exerciseName %>"
                                                                            <%=exerciseData?.exercise===exerciseName
                                                                            ? 'selected' : '' %>
                                                                            >
                                                                            <%= exerciseName %>
                                                                        </option>
                                                                        <% } %>
                                                            </select>
                                                            <% } %>
                                                    </td>
                                                    <td data-cell="Sets"><input type="number" class="sets"
                                                            name="exercise_<%= i + 1 %>_sets"
                                                            value="<%= exerciseData?.sets %>"></td>
                                                    <td data-cell="Reps"><input type="number" class="reps"
                                                            name="exercise_<%= i + 1 %>_reps"
                                                            value="<%= exerciseData?.reps %>"></td>

                                                    <% let weightPlaceholder="" %>
                                                        <!--gegebenenfalls placeholder gewicht für das weight input bestimmen-->
                                                        <% if (exerciseData?.category===previousExerciseData?.category
                                                            && exerciseData?.exercise===previousExerciseData?.exercise
                                                            && exerciseData?.reps===previousExerciseData?.reps &&
                                                            exerciseData?.sets===previousExerciseData?.sets &&
                                                            exerciseData?.targetRPE===previousExerciseData?.targetRPE) {
                                                            %>
                                                            <% weightPlaceholder=previousExerciseData?.weight %>
                                                                <% } %>
                                                                    <td data-cell="Weight"><input type="text"
                                                                            class="weight" step="0.5"
                                                                            name="exercise_<%= i + 1 %>_weight"
                                                                            value="<%= exerciseData?.weight %>"
                                                                            placeholder="<%= weightPlaceholder %>">
                                                                    </td>
                                                                    <td data-cell="RPE"><input type="number"
                                                                            class="targetRPE"
                                                                            name="exercise_<%= i + 1 %>_targetRPE"
                                                                            step="0.5"
                                                                            value="<%= exerciseData?.targetRPE %>"
                                                                            step="0.5"></td>
                                                                    <td data-cell="@"><input type="number"
                                                                            class="actualRPE" step="0.5"
                                                                            name="exercise_<%= i + 1 %>_actualRPE"
                                                                            value="<%= exerciseData?.actualRPE %>"></td>
                                                                    <td data-cell="1RM"><input type="number"
                                                                            class="estMax" step="0.5"
                                                                            name="exercise_<%= i + 1 %>_estMax"
                                                                            value="<%= exerciseData?.estMax %>"></td>
                                                                    <td data-cell="Notes"> <input type="text"
                                                                            class="workout-notes"
                                                                            name="exercise_<%= i + 1 %>_notes"
                                                                            value="<%= exerciseData?.notes %>">

                                                                    </td>
                                                </tr>
                                                <% } %>

                        </tbody>
                    </table>

                    <div class="add-new-exercise-button flex text-accent"
                        style="--gap: 2rem; justify-content: center; padding: 1em 0.5em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevrons-down">
                            <polyline points="7 13 12 18 17 13"></polyline>
                            <polyline points="7 6 12 11 17 6"></polyline>
                        </svg>
                    </div>


                </div>

                <div class="flow" style="--flow-space: 0.5rem">
                    <button class="main-page-button save-training-button uppercase ff-sans-normal" type="submit"
                        style="margin: 0;">SPEICHERN</button>

                    <form id="finishSessionForm" action="/training/session-training-<%= number %>-complete"
                        method="POST">
                        <button id="finishSessionButton" type="submit"
                            class="main-page-button save-training-button uppercase ff-sans-normal">
                            BEENDEN
                        </button>
                    </form>
                </div>

                <audio id="timerAudio">
                    <source src="/audio/newTimer.mp3" type="audio/mpeg">
                    Sorry - Ihr Browser hat keine Unterstützung für dieses Audio-Format.
                </audio>

                <audio id="save-audio">
                    <source src="/audio/save_sound.mp3" type="audio/mpeg">
                    Sorry - Ihr Browser hat keine Unterstützung für dieses Audio-Format.
                </audio>

                <div id="confirmationModal" class="modal ff-sans-cond text-accent fs-500 letter-spacing-4"
                    style="display: none">
                    <div class="modal-content flow" style="--flow-space: 0.5em;">
                        <input type="text" readonly value="Training wirklich beenden?">
                        <div class="modal-buttons">
                            <button class="modal-button text-accent" id="confirmResetButton">JA</button>
                            <button class="modal-button text-accent" id="cancelResetButton">NEIN</button>
                        </div>
                    </div>
                </div>

</form>

<%- include("../../partials/trainingPage/volumeRecommandations") %>

    <script src="/javascripts/trainingPage/addNewExercise.js"></script>

    <script src="/javascripts/trainingPage/calcVolumeMedians.js"></script>
    <script src="/javascripts/trainingPage/removePlaceholder.js"></script>

    <script src="/javascripts/trainingPage/calculateSetsTonnage.js"></script>
    <script src="/javascripts/trainingPage/displayDefaultSetSchema.js"></script>

    <script src="/javascripts/trainingPage/weightInput.js"></script>
    <script src="/javascripts/trainingPage/rpeInput.js"></script>
    <script src="/javascripts/trainingPage/changeExerciseName.js"></script>

    <script src="/javascripts/trainingPage/calcBackoffMax.js"></script>

    <!--AutoSave macht auch Probleme-->
    <script src="/javascripts/trainingPage/ajaxAutoSave.js"></script>

    <!-- <script src="/javascripts/trainingPage/displayOfflineData.js"></script> -->

    <script src="/javascripts/session/pauseTimer.js"></script>
    <script src="/javascripts/trainingPage/weightInput.js"></script>