<main id="main" class="grid-container grid-container--training flow">
    <h1 class="numbered-title"><span aria-hidden="true">STATS</span><%= trainingTitle %></h1>

    <div class="tab-list underline-indicators flex" role="tablist" aria-label="destination list"
        style="justify-content: space-between;">
        <button id="squat-tab" aria-selected="false" role="tab" aria-controls="custom-tab"
            class="uppercase ff-sans-cond text-accent letter-spacing-2" tabindex="0">Squat</button>
        <button id="bench-tab" aria-selected="false" role="tab" aria-controls="session-tab"
            class="uppercase ff-sans-cond text-accent letter-spacing-2" tabindex="-1">Bench</button>
        <button id="deadlift-tab" aria-selected="false" role="tab" aria-controls="template-tab"
            class="uppercase ff-sans-cond text-accent letter-spacing-2" tabindex="-1">Deadlift</button>
    </div>

    <input id="userIdentification" type="hidden" name="userIdentification" value="<%= userID %>">
    <input id="squatTonnageArray" type="hidden" value="<%= squatTonnage %>">
    <input id="benchTonnageArray" type="hidden" value="<%= benchTonnage %>">
    <input id="deadliftTonnageArray" type="hidden" value="<%= deadliftTonnage %>">



    <section class="custom-view-container flow" style="--flow-space: 2em;">

        <div class="training-plan-container flex" style="--gap: 1rem;">
            <% for (let i=0; i < squatSetsDone.length; i++) { %>

                <% if (squatTonnage[i]) { %>
                    <div class="stats-container">
    
                            <div class="training-plan-title uppercase">
                                Woche <%= i + 1 %>
                            </div>
                            <div class="ff-sans-cond fs-400 letter-spacing-4">
                                <%= squatSetsDone[i] %> Sets - <%= squatTonnage[i] %> Tonnage
                            </div>
                    </div>
                <% } %>

                <% } %>
        </div>

        
        <div class="training-button-container">
            <button class="main-page-button training-plan-button uppercase"
                id="start-custom-training-button">Trainieren</button>

            <button class="main-page-button edit-training-plan-button uppercase"
                id="edit-custom-training-button">Bearbeiten</button>

                <button class="main-page-button back-button uppercase"
                id="edit-custom-training-button">BACK</button>

        </div>

    </section>

    <section class="custom-view-container flow" style="--flow-space: 2em;" hidden>
        
        <div class="training-plan-container flex" style="--gap: 1rem;">
            <% for (let i=0; i < benchSetsDone.length; i++) { %>
                
                <% if (benchTonnage[i]) { %>
                    <div class="stats-container">
                        <div class="training-plan-title uppercase">
                            Woche <%= i + 1 %>
                        </div>
                        <div class="ff-sans-cond fs-400 letter-spacing-4">
                            <%= benchSetsDone[i] %> Sets - <%= benchTonnage[i] %> Tonnage
                        </div>
                    </div>
                <% } %>

                <% } %>
        </div>


            <div class="training-button-container">
                <button class="main-page-button training-plan-button uppercase"
                    id="start-custom-training-button">Trainieren</button>
    
                <button class="main-page-button edit-training-plan-button uppercase"
                    id="edit-custom-training-button">Bearbeiten</button>
    
                    <button class="main-page-button back-button uppercase"
                    id="edit-custom-training-button">BACK</button>
    
            </div>

    </section>

    <section class="custom-view-container flow" style="--flow-space: 2em;" hidden>

        <div class="training-plan-container flex" style="--gap: 1rem;">
            <% for (let i=0; i < deadliftSetsDone.length; i++) { %>

                <% if (deadliftTonnage[i]) { %>
                    <div class="stats-container" style="min-width: 100%;">
                        <div class="training-plan-title uppercase">
                            Woche <%= i + 1 %>
                        </div>
                        <div class="ff-sans-cond fs-400 letter-spacing-4">
                            <%= deadliftSetsDone[i] %> Sets - <%= deadliftTonnage[i] %> Tonnage
                        </div>
                    </div>
                <% } %>

                <% } %>
        </div>



            <div class="training-button-container">
                <button class="main-page-button training-plan-button uppercase"
                    id="start-custom-training-button">Trainieren</button>
    
                <button class="main-page-button edit-training-plan-button uppercase"
                    id="edit-custom-training-button">Bearbeiten</button>

                    <button class="main-page-button back-button uppercase"
                    id="edit-custom-training-button">BACK</button>
    
    
            </div>

    </section>


</main>

<script src="/javascripts/statsPage/illustrateStats.js"></script>
<script src="/javascripts/statsPage/navigate.js"></script>
<script src="/javascripts/statsPage/showStatsTab.js"></script>